<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% load staticfiles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% csrf_token %}
<script src="{% static 'js/clients.js' %}"></script>
</div class="container">
<div class="py-5 text-center">
    {#    <img class="d-block mx-auto mb-4" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
    <h2>Добавить клиента</h2>
    <p class="lead">Здесь необходимо ввести всю необходимую информацию по клиенту, для автоматичекского заполнения
        анкет</p>
</div>
<div class="row">
    <div class="col-md-10 order-md-1">
        <form action="/addClient/" method="POST">{% csrf_token %}

            {{ client_f.printForm |safe }}

            <h4 class="mb-3">Пасспортные данные</h4>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="id_serial">{{ passport_f.serial.label }}</label>
                    {{ passport_f.serial }}
                    <div class="invalid-feedback">
                        Valid part name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_number">{{ passport_f.number.label }}</label>
                    {{ passport_f.number }}
                </div>
                <div class="col-md-8">
                    <label for="id_v_from">{{ passport_f.v_from.label }}</label>
                    {{ passport_f.v_from }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="id_gender">{{ passport_f.gender.label }}</label>
                    {{ passport_f.gender }}
                </div>
                <div class="col-md-3">
                    <label for="id_birthday">{{ passport_f.birthday.label }}</label>
                    {{ passport_f.birthday }}
                </div>
                <div class="col-md-3">
                    <label for="id_date_of">{{ passport_f.date_of.label }}</label>
                    {{ passport_f.date_of }}
                </div>
                <div class="col-md-3">
                    <label for="id_code_of">{{ passport_f.code_of.label }}</label>
                    {{ passport_f.code_of }}
                </div>
            </div>
            <br/>
            <h6 class="mb-3">Aдрес регистрации</h6>
            <div class="row">
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.index.label }}</label>
                    {{ registration_addr_f.index }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.country.label }}</label>
                    {{ registration_addr_f.country }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.city.label }}</label>
                    {{ registration_addr_f.city }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.street.label }}</label>
                    {{ registration_addr_f.street }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.buildingNumber.label }}</label>
                    {{ registration_addr_f.buildingNumber }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.housing.label }}</label>
                    {{ registration_addr_f.housing }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.structure.label }}</label>
                    {{ registration_addr_f.structure }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.flat.label }}</label>
                    {{ registration_addr_f.flat }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.oblast.label }}</label>
                    {{ registration_addr_f.oblast }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.rayon.label }}</label>
                    {{ registration_addr_f.rayon }}
                </div>
            </div>
            <br>
            <h6> Адрес регистрации совпадает с адресом проживания?</h6>
            <div class="col-md-2">
                <select id="select_id" class="form-control" maxlength="2" onChange="showFactAddressForm(this);">
                    <option value="1">Да</option>
                    <option value="2">Нет</option>
                </select>
            </div>
            <br>
            <h4 class="mb-3">СНИЛС</h4>
            <div class="row">
                <div class="col-md-4">
                    {{ additional_client_info_f.snils_number }}
                </div>
            </div>
            <br>
            <h6>Информация о работе</h6>
            <div class="row">
                <div class="col-md-2">
                    <label for="id_is_general">{{ job_f.is_general.label }} </label>
                    {{ job_f.is_general }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="id_full_name">{{ job_f.full_name.label }}</label>
                    {{ job_f.full_name }}
                    <div class="invalid-feedback">
                        Valid full name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_inn_number">{{ job_f.inn_number.label }}</label>
                    {{ job_f.inn_number }}
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_account_phone_number">{{ job_f.account_phone_number.label }}</label>
                    {{ job_f.account_phone_number }}
                    <div class="invalid-feedback">
                        Valid part name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_work_phone_number">{{ job_f.work_phone_number.label }}</label>
                    {{ job_f.work_phone_number }}
                    <div class="invalid-feedback">
                        Valid work_phone_number is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_hr_phone_number">{{ job_f.hr_phone_number.label }}</label>
                    {{ job_f.hr_phone_number }}
                    <div class="invalid-feedback">
                        Valid hr_phone_number is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_age">{{ job_f.age.label }}</label>
                    {{ job_f.age }}
                    <div class="invalid-feedback">
                        Valid part name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_work_experience">{{ job_f.work_experience.label }}</label>
                    {{ job_f.work_experience }}
                    <div class="invalid-feedback">
                        Valid work_experience is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_number_of_staff">{{ job_f.number_of_staff.label }}</label>
                    {{ job_f.number_of_staff }}
                    <div class="invalid-feedback">
                        Valid work_phone_number is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_site">{{ job_f.site.label }}</label>
                    {{ job_f.site }}
                    <div class="invalid-feedback">
                        Valid site is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_pomsition">{{ job_f.position.label }}</label>
                    {{ job_f.position }}
                    <div class="invalid-feedback">
                        Valid pomsition is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_position_category">{{ job_f.position_category.label }}</label>
                    {{ job_f.position_category }}
                    <div class="invalid-feedback">
                        Valid position_category is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_salary">{{ job_f.salary.label }}</label>
                    {{ job_f.salary }}
                    <div class="invalid-feedback">
                        Valid salary is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_is_probation">{{ job_f.is_probation.label }}</label>
                    {{ job_f.is_probation }}
                    <div class="invalid-feedback">
                        Valid is_probation is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_kind_of_contract">{{ job_f.kind_of_contract.label }}</label>
                    {{ job_f.kind_of_contract }}
                    <div class="invalid-feedback">
                        Valid kind_of_contract is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_contract_start">{{ job_f.contract_start.label }}</label>
                    {{ job_f.contract_start }}
                    <div class="invalid-feedback">
                        Valid contract_start is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_contract_end">{{ job_f.contract_end.label }}</label>
                    {{ job_f.contract_end }}
                    <div class="invalid-feedback">
                        Valid contract_end is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_incorparation_form">{{ job_f.incorparation_form.label }}</label>
                    {{ job_f.incorparation_form }}
                    <div class="invalid-feedback">
                        Valid incorparation_form is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_obligations">{{ job_f.obligations.label }}</label>
                    {{ job_f.obligations }}
                    <div class="invalid-feedback">
                        Valid obligations is required.
                    </div>
                </div>
            </div>
            <h6>Банковские реквизиты работодателя</h6>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="id_is_probation">{{ bankdetail_f.account_number.label }}</label>
                    {{ bankdetail_f.account_number }}
                    <div class="invalid-feedback">
                        Valid account_number is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_kind_of_contract">{{ bankdetail_f.correspondent_account_number.label }}</label>
                    {{ bankdetail_f.correspondent_account_number }}
                    <div class="invalid-feedback">
                        Valid correspondent_account_number is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_contract_start">{{ bankdetail_f.bic.label }}</label>
                    {{ bankdetail_f.bic }}
                    <div class="invalid-feedback">
                        Valid bic is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_contract_end">{{ bankdetail_f.bank_name.label }}</label>
                    {{ bankdetail_f.bank_name }}
                    <div class="invalid-feedback">
                        Valid bank_name is required.
                    </div>
                </div>
            </div>
            <h6>Информация о человеке который подтвердит инфо о работе</h6>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="id_first_name">{{ approver_f.first_name.label }}</label>
                    {{ approver_f.first_name }}
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_last_name">{{ approver_f.last_name.label }}</label>
                    {{ approver_f.last_name }}
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_part_name">{{ approver_f.part_name.label }}</label>
                    {{ approver_f.part_name }}
                    <div class="invalid-feedback">
                        Valid part name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_position">{{ approver_f.position.label }}</label>
                    {{ approver_f.position }}
                    <div class="invalid-feedback">
                        Valid part name is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_phone_number">{{ approver_f.phone_number.label }}</label>
                    {{ approver_f.phone_number }}
                    <div class="invalid-feedback">
                        Valid phone_number is required.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_email_v">{{ approver_f.email_v.label }}</label>
                    {{ approver_f.email_v }}
                    <div class="invalid-feedback">
                        Valid email is required.
                    </div>
                </div>
            </div>
            <h6>Адрес места работы</h6>
            <div class="row">
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.index.label }}</label>
                    {{ job_addr_f.index }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.country.label }}</label>
                    {{ job_addr_f.country }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.city.label }}</label>
                    {{ job_addr_f.city }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.street.label }}</label>
                    {{ job_addr_f.street }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.buildingNumber.label }}</label>
                    {{ job_addr_f.buildingNumber }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.housing.label }}</label>
                    {{ job_addr_f.housing }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.structure.label }}</label>
                    {{ job_addr_f.structure }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.flat.label }}</label>
                    {{ job_addr_f.flat }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ registration_addr_f.oblast.label }}</label>
                    {{ registration_addr_f.oblast }}
                </div>
                <div class="col-md-5">
                    <label for="id_index">{{ job_addr_f.rayon.label }}</label>
                    {{ job_addr_f.rayon }}
                </div>
            </div>
            <div style="display: inline">
                <h6>Информация о кредитах </h6>
                <div> place for credit fields</div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="id_requested_field">{{ credit_f.requested_field.label }}</label>
                        {{ credit_f.requested_field }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_type">{{ credit_f.type.label }}</label>
                        {{ credit_f.type }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_credit_goal">{{ credit_f.credit_goal.label }}</label>
                        {{ credit_f.credit_goal }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_special_programms">{{ credit_f.special_programms.label }}</label>
                        {{ credit_f.special_programms }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_desired_pay_period">{{ credit_f.desired_pay_period.label }}</label>
                        {{ credit_f.desired_pay_period }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_insurance">{{ credit_f.insurance.label }}</label>
                        {{ credit_f.insurance }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_creditor_name">{{ credit_f.creditor_name.label }}</label>
                        {{ credit_f.creditor_name }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_date_start">{{ credit_f.date_start.label }}</label>
                        {{ credit_f.date_start }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_date_end">{{ credit_f.date_end.label }}</label>
                        {{ credit_f.date_end }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_currency">{{ credit_f.currency.label }}</label>
                        {{ credit_f.currency }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_value">{{ credit_f.value.label }}</label>
                        <div class="input-group col-md-5">
                            {{ credit_many_f1.amount }}
                            <div class="input-group-append">
                                {{ credit_many_f1.currency }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="id_month_pay">{{ credit_f.month_pay.label }}</label>
                        <div class="input-group col-md-5">
                            {{ credit_many_f2.amount }}
                            <div class="input-group-append">
                                {{ credit_many_f2.currency }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="id_leftover">{{ credit_f.leftover.label }}</label>
                        <div class="input-group col-md-5">
                            {{ credit_many_f3.amount }}
                            <div class="input-group-append">
                                {{ credit_many_f3.currency }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary">+</button>
            </div>

            {#            <h4 class="mb-3">Информация для кредитования</h4>#}
            {#            <div class="row">#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_product">{{ additional_client_info_f.product.label }}</label>#}
            {#                    {{ additional_client_info_f.product }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_property">{{ additional_client_info_f.property.label }}</label>#}
            {#                    {{ additional_client_info_f.property }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_full_insurance">{{ additional_client_info_f.full_insurance.label }}</label>#}
            {#                    {{ additional_client_info_f.full_insurance }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_registration">{{ additional_client_info_f.registration.label }}</label>#}
            {#                    {{ additional_client_info_f.registration }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_address_of_registration">{{ additional_client_info_f.address_of_registration.label }}</label>#}
            {#                    {{ additional_client_info_f.address_of_registration }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_actual_address">{{ additional_client_info_f.actual_address.label }}</label>#}
            {#                    {{ additional_client_info_f.actual_address }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_count_of_children">{{ additional_client_info_f.count_of_children.label }}</label>#}
            {#                    {{ additional_client_info_f.count_of_children }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_family_status">{{ additional_client_info_f.family_status.label }}</label>#}
            {#                    {{ additional_client_info_f.family_status }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_education_status">{{ additional_client_info_f.education_status.label }}</label>#}
            {#                    {{ additional_client_info_f.education_status }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_work_expireance">{{ additional_client_info_f.work_expireance.label }}</label>#}
            {#                    {{ additional_client_info_f.work_expireance }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_position_category">{{ additional_client_info_f.position_category.label }}</label>#}
            {#                    {{ additional_client_info_f.position_category }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_work_type">{{ additional_client_info_f.work_type.label }}</label>#}
            {#                    {{ additional_client_info_f.work_type }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_marriage_contract">{{ additional_client_info_f.marriage_contract.label }}</label>#}
            {#                    {{ additional_client_info_f.marriage_contract }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_immovable_property">{{ additional_client_info_f.immovable_property.label }}</label>#}
            {#                    {{ additional_client_info_f.immovable_property }}#}
            {#                    <div id="other-div" style="display:none;">#}
            {#                        <label for="id_other-input">Иное#}
            {#                            <input id="id_other-input" class="form-control"></input>#}
            {#                        </label>#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_rezident_of_usa">{{ additional_client_info_f.rezident_of_usa.label }}</label>#}
            {#                    {{ additional_client_info_f.rezident_of_usa }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_rezident_of_other_goverment">{{ additional_client_info_f.rezident_of_other_goverment.label }}</label>#}
            {#                    {{ additional_client_info_f.rezident_of_other_goverment }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_foreign_citizen">{{ additional_client_info_f.foreign_citizen.label }}</label>#}
            {#                    {{ additional_client_info_f.foreign_citizen }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_additional_work">{{ additional_client_info_f.additional_work.label }}</label>#}
            {#                    {{ additional_client_info_f.additional_work }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_additional_work">{{ additional_client_info_f.additional_work_expireance.label }}</label>#}
            {#                    {{ additional_client_info_f.additional_work_expireance }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_additional_work_category">{{ additional_client_info_f.additional_work_category.label }}</label>#}
            {#                    {{ additional_client_info_f.additional_work_category }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_income_of_main_work">{{ additional_client_info_f.income_of_main_work.label }}</label>#}
            {#                    {{ additional_client_info_f.income_of_main_work }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_income_of_additional_work">{{ additional_client_info_f.income_of_additional_work.label }}</label>#}
            {#                    {{ additional_client_info_f.income_of_additional_work }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_mark_of_car">{{ additional_client_info_f.mark_of_car.label }}</label>#}
            {#                    {{ additional_client_info_f.mark_of_car }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_year_of_manufacture_of_car">{{ additional_client_info_f.year_of_manufacture_of_car.label }}</label>#}
            {#                    {{ additional_client_info_f.year_of_manufacture_of_car }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_car_valuation">{{ additional_client_info_f.car_valuation.label }}</label>#}
            {#                    {{ additional_client_info_f.car_valuation }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_market_value_of_real_estate">{{ additional_client_info_f.market_value_of_real_estate.label }}</label>#}
            {#                    {{ additional_client_info_f.market_value_of_real_estate }}#}
            {#                </div>#}
            {#            </div>#}
            {#            <br>#}
            {#            <h3 class="mb-3">Сведения об организации</h3>#}
            {#            <h4 class="mb-3">Почтовый Aдрес</h4>#}
            {#            <div class="row">#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.index.label }}</label>#}
            {#                    {{ postaddress_f.index }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.city.label }}</label>#}
            {#                    {{ postaddress_f.city }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.street.label }}</label>#}
            {#                    {{ postaddress_f.street }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.buildingNumber.label }}</label>#}
            {#                    {{ postaddress_f.buildingNumber }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.housing.label }}</label>#}
            {#                    {{ postaddress_f.housing }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.structure.label }}</label>#}
            {#                    {{ postaddress_f.structure }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.flat.label }}</label>#}
            {#                    {{ postaddress_f.flat }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.oblast.label }}</label>#}
            {#                    {{ postaddress_f.oblast }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_index">{{ postaddress_f.rayon.label }}</label>#}
            {#                    {{ postaddress_f.rayon }}#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="row">#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_account_number">{{ bankdetail_f.account_number.label }}</label>#}
            {#                    {{ bankdetail_f.account_number }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_correspondent_account_number">{{ bankdetail_f.correspondent_account_number.label }}</label>#}
            {#                    {{ bankdetail_f.correspondent_account_number }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_bic">{{ bankdetail_f.bic.label }}</label>#}
            {#                    {{ bankdetail_f.bic }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_bank_name">{{ bankdetail_f.bank_name.label }}</label>#}
            {#                    {{ bankdetail_f.bank_name }}#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="row">#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_full_name">{{ orginfo_f.full_name.label }}</label>#}
            {#                    {{ orginfo_f.full_name }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_accountent_number">{{ orginfo_f.accountent_number.label }}</label>#}
            {#                    {{ orginfo_f.accountent_number }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_hr_number">{{ orginfo_f.hr_number.label }}</label>#}
            {#                    {{ orginfo_f.hr_number }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_site">{{ orginfo_f.site.label }}</label>#}
            {#                    {{ orginfo_f.site }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_inn_number">{{ orginfo_f.inn_number.label }}</label>#}
            {#                    {{ orginfo_f.inn_number }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_field_of_activity">{{ orginfo_f.field_of_activity.label }}</label>#}
            {#                    {{ orginfo_f.field_of_activity }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_incorparation_form">{{ orginfo_f.incorparation_form.label }}</label>#}
            {#                    {{ orginfo_f.incorparation_form }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_number_of_staff">{{ orginfo_f.number_of_staff.label }}</label>#}
            {#                    {{ orginfo_f.number_of_staff }}#}
            {#                </div>#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_work_experience">{{ orginfo_f.work_experience.label }}</label>#}
            {#                    {{ orginfo_f.work_experience }}#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <br>#}
            {#            <h4 class="mb-3">Информация о существующем кредите</h4>#}
            {#            <div class="row">#}
            {#                <div class="col-md-5">#}
            {#                    <label for="id_work_experience">{{ orginfo_f.work_experience.label }}</label>#}
            {#                    {{ orginfo_f.work_experience }}#}
            {#                </div>#}
            {#            </div>#}
            {#                <input type="button" class="btn btn-outline-primary" onclick="createChild()" value="Add child"/>#}
            {#            <div id="childs_id">#}
            {##}
            {#            </div>#}
            {#        {{ client_f.as_p }}#}
            {#        {{ client }}#}
            {#        {{ additional_client_info_f.as_p }}#}
            {#        <h3>Паспорт</h3>#}
            {#        {{ passport_f.as_p }}#}
            {#        <h3>СНИЛС</h3>#}
            {#        {{ snils_f.as_p }}#}
            {#        <h3>Сведения об организации</h3>#}
            {#        {{ orginfo_f.as_p }}#}
            {#        {{ address_f.as_p }}#}
            {#        <h3>Почтовый адресс организации</h3>#}
            {#        {{ postaddress_f }}#}
            {#        {{ bankdetail_f.as_p }}#}
            {{ credit_many_f3.printForm|safe }}
            {{ s_f.as_test|safe }}
            <br><input type="submit" name="sbm" value="Add">
        </form>
    </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    {#    <p class="mb-1">&copy; 2017-{{ site.time | date: "%Y" }} Company Name</p>#}
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>
</div>

{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-md-8 order-md-1">#}
{#            <h4 class="mb-3">Billing address</h4>#}
{#            <form class="needs-validation" novalidate>#}
{#                <div class="row">#}
{#                    <div class="col-md-6 mb-3">#}
{#                        <label for="firstName">First name</label>#}
{#                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Valid first name is required.#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 mb-3">#}
{#                        <label for="lastName">Last name</label>#}
{#                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Valid last name is required.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="username">Username</label>#}
{#                    <div class="input-group">#}
{#                        <div class="input-group-prepend">#}
{#                            <span class="input-group-text">@</span>#}
{#                        </div>#}
{#                        <input type="text" class="form-control" id="username" placeholder="Username" required>#}
{#                        <div class="invalid-feedback" style="width: 100%;">#}
{#                            Your username is required.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="email">Email <span class="text-muted">(Optional)</span></label>#}
{#                    <input type="email" class="form-control" id="email" placeholder="you@example.com">#}
{#                    <div class="invalid-feedback">#}
{#                        Please enter a valid email address for shipping updates.#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="address">Address</label>#}
{#                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>#}
{#                    <div class="invalid-feedback">#}
{#                        Please enter your shipping address.#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>#}
{#                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">#}
{#                </div>#}
{##}
{#                <div class="row">#}
{#                    <div class="col-md-5 mb-3">#}
{#                        <label for="country">Country</label>#}
{#                        <select class="custom-select d-block w-100" id="country" required>#}
{#                            <option value="">Choose...</option>#}
{#                            <option>United States</option>#}
{#                        </select>#}
{#                        <div class="invalid-feedback">#}
{#                            Please select a valid country.#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 mb-3">#}
{#                        <label for="state">State</label>#}
{#                        <select class="custom-select d-block w-100" id="state" required>#}
{#                            <option value="">Choose...</option>#}
{#                            <option>California</option>#}
{#                        </select>#}
{#                        <div class="invalid-feedback">#}
{#                            Please provide a valid state.#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-3 mb-3">#}
{#                        <label for="zip">Zip</label>#}
{#                        <input type="text" class="form-control" id="zip" placeholder="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Zip code required.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <hr class="mb-4">#}
{#                <div class="custom-control custom-checkbox">#}
{#                    <input type="checkbox" class="custom-control-input" id="same-address">#}
{#                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing#}
{#                        address</label>#}
{#                </div>#}
{#                <div class="custom-control custom-checkbox">#}
{#                    <input type="checkbox" class="custom-control-input" id="save-info">#}
{#                    <label class="custom-control-label" for="save-info">Save this information for next time</label>#}
{#                </div>#}
{#                <hr class="mb-4">#}
{##}
{#                <h4 class="mb-3">Payment</h4>#}
{##}
{#                <div class="d-block my-3">#}
{#                    <div class="custom-control custom-radio">#}
{#                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked#}
{#                               required>#}
{#                        <label class="custom-control-label" for="credit">Credit card</label>#}
{#                    </div>#}
{#                    <div class="custom-control custom-radio">#}
{#                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>#}
{#                        <label class="custom-control-label" for="debit">Debit card</label>#}
{#                    </div>#}
{#                    <div class="custom-control custom-radio">#}
{#                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>#}
{#                        <label class="custom-control-label" for="paypal">PayPal</label>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-md-6 mb-3">#}
{#                        <label for="cc-name">Name on card</label>#}
{#                        <input type="text" class="form-control" id="cc-name" placeholder="" required>#}
{#                        <small class="text-muted">Full name as displayed on card</small>#}
{#                        <div class="invalid-feedback">#}
{#                            Name on card is required#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 mb-3">#}
{#                        <label for="cc-number">Credit card number</label>#}
{#                        <input type="text" class="form-control" id="cc-number" placeholder="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Credit card number is required#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-md-3 mb-3">#}
{#                        <label for="cc-expiration">Expiration</label>#}
{#                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Expiration date required#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-3 mb-3">#}
{#                        <label for="cc-cvv">CVV</label>#}
{#                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Security code required#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <hr class="mb-4">#}
{#                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}