<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/simple.css">
    {# для боковой шапки #}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    {# для боковой шапки#}
    {#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    {% load staticfiles %}
    <script class="cssdeck" src="/static/js/jquery.min.js"></script>
    <script src="{% static 'js/clients.js' %}"></script>

    <title> Добавить клиента</title>
</head>
<body>


<form action="/addClient/" method="POST">{% csrf_token %}
    <header>
        <table align="right">
            <tr>
                <td>
                    <button class="btn" name="sbm" value="{{ save_btn }}">
                        {% if save_btn == 'Update' %}
                            Обновить
                        {% else %}
                            Добавить
                        {% endif %}
                    </button>
                </td>
                <td>
                    <a href="/clients/">
                        <button class="btn">Назад</button>
                    </a>
                </td>
                <td>
                    <button class="btn" name="sbm"><a href="/auth/logout">Выйти ({{ username }})</a></button>
                </td>


            </tr>
        </table>
    </header>
    {% csrf_token %}

    <nav>
        <ul>
            <li><a href="#name">ФИО</a></li>
            <li><a href="#passport">Паспорт</a></li>
            <li><a href="#snils">СНИЛС</a></li>
            <li><a href="#jobinfo">Работа</a></li>
            <li><a href="#children">Дети</a></li>
            <li><a href="#revenue">Доходы</a></li>
            <li><a href="#costs">Расходы</a></li>
            <li><a href="#property">Имущество</a></li>
        </ul>
    </nav>


    <script src="/static/js/scroll.js"></script>

    </div class="container">
    <div class="py-5 text-center">
        {#    <img class="d-block mx-auto mb-4" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 order-md-1">

                <section id="name"><h3>ФИО</h3></section>
                {{ client_f.printForm |safe }}
                <section id="passport"><h3 class="mb-3">Паспортные данные</h3></section>
                {{ passport_f.printForm |safe }}
                <h6 class="mb-3">Aдрес регистрации</h6>
                {{ registration_addr_f.printForm |safe }}
                <br>
                <h6> Адрес регистрации совпадает с адресом проживания?</h6>
                <div class="col-md-2">
                    <select id="select_id" class="form-control" maxlength="2" onChange="showFactAddressForm(this);">
                        <option value="1">Да</option>
                        <option value="2">Нет</option>
                    </select>
                </div>
                <div id="actualAddress">
                    {{ registration_addr_f.printHiddenForm |safe }}
                </div>
                <br>
                <section id="snils"><h3 class="mb-3">СНИЛС</h3></section>
                <div class="row">
                    <div class="col-md-4">
                        {{ additional_client_info_f.snils_number }}
                    </div>
                </div>

                <section id="jobinfo"><h4 class="mb-3">Информация о работе</h4></section>
                {{ job_f.printForm |safe }}
                <br>
                <h6>Информация о человеке который подтвердит инфо о работе</h6>
                {{ approver_f.printForm |safe }}
                <br>
                <h6>Адрес места работы</h6>
                {{ job_addr_f.printForm |safe }}
                <br>
                <h6>Банковские реквизиты работодателя</h6>
                {{ bankdetail_f.printForm |safe }}
                <div style="display: inline">
                    <h6>Информация о кредитах </h6>
                    {{ credit_f.printForm |safe }}
                </div>
                <div style="display: inline">
                    <h6>Информация о кредитах </h6>
                    {{ credit_f.printForm |safe }}
                </div>
                <button type="button" class="btn btn-outline-primary" onclick="cloneCreditForm(this)">+</button>
                <br>
                <br>
                <h6>Дополнительная информация о клиенте</h6>
                <h6>Информация о родственниках</h6>
                <section id="children"><h3>Дети</h3></section>
                <button type="button" onclick="addClientChildForm()" class="btn btn-outline-primary">+</button>
                <div id="childs_id"></div>
                <br>
                <section id="revenue"><h3>Сведения о доходах заявителя</h3></section>
                <p>Недвижимость cдаваемая в аренду</p>
                <button type="button" onclick="rentalPropertyForm()" class="btn btn-outline-primary">+</button>
                {{ rental_f.printForm |safe }}<br/>
                <p>Пенсия</p>
                {{ pension_f.printForm |safe }}<br/>
                <br/>
                <section id="costs"><h3>Сведения о расходах заявителя</h3></section>
                <p>Алименты</p>
                <div class="row">
                    <div class="col-md-4">
                        {{ additional_client_info_f.aliments }}
                    </div>
                </div>
                <section id="property"><h3>Сведения имуществе заявителя</h3></section>
                <i>Раздел не заполняется, если недвижимость планируется к продаже или находится в залоге</i>
                <p>Недвижимое имущество</p>
                {{ imm_prop_f.printForm |safe }}
                <p>Движимое имущество</p>
                {{ car_f.printForm |safe }}
                <br/>
                <input type="submit" name="sbm" class="btn btn-outline-primary" value="{{ save_btn }}">
            </div>
        </div>

    </div>
    <script src="{% static 'js/multi-input.js' %}"></script>
</form>
</body>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>
</div>

{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-md-8 order-md-1">#}
{#            <h4 class="mb-3">Billing address</h4>#}
{#            <form class="needs-validation" novalidate>#}
{#                <div class="row">#}
{#                    <div class="col-md-6 mb-3">#}
{#                        <label for="firstName">First name</label>#}
{#                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Valid first name is required.#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 mb-3">#}
{#                        <label for="lastName">Last name</label>#}
{#                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Valid last name is required.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="username">Username</label>#}
{#                    <div class="input-group">#}
{#                        <div class="input-group-prepend">#}
{#                            <span class="input-group-text">@</span>#}
{#                        </div>#}
{#                        <input type="text" class="form-control" id="username" placeholder="Username" required>#}
{#                        <div class="invalid-feedback" style="width: 100%;">#}
{#                            Your username is required.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="email">Email <span class="text-muted">(Optional)</span></label>#}
{#                    <input type="email" class="form-control" id="email" placeholder="you@example.com">#}
{#                    <div class="invalid-feedback">#}
{#                        Please enter a valid email address for shipping updates.#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="address">Address</label>#}
{#                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>#}
{#                    <div class="invalid-feedback">#}
{#                        Please enter your shipping address.#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>#}
{#                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">#}
{#                </div>#}
{##}
{#                <div class="row">#}
{#                    <div class="col-md-5 mb-3">#}
{#                        <label for="country">Country</label>#}
{#                        <select class="custom-select d-block w-100" id="country" required>#}
{#                            <option value="">Choose...</option>#}
{#                            <option>United States</option>#}
{#                        </select>#}
{#                        <div class="invalid-feedback">#}
{#                            Please select a valid country.#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4 mb-3">#}
{#                        <label for="state">State</label>#}
{#                        <select class="custom-select d-block w-100" id="state" required>#}
{#                            <option value="">Choose...</option>#}
{#                            <option>California</option>#}
{#                        </select>#}
{#                        <div class="invalid-feedback">#}
{#                            Please provide a valid state.#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-3 mb-3">#}
{#                        <label for="zip">Zip</label>#}
{#                        <input type="text" class="form-control" id="zip" placeholder="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Zip code required.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <hr class="mb-4">#}
{#                <div class="custom-control custom-checkbox">#}
{#                    <input type="checkbox" class="custom-control-input" id="same-address">#}
{#                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing#}
{#                        address</label>#}
{#                </div>#}
{#                <div class="custom-control custom-checkbox">#}
{#                    <input type="checkbox" class="custom-control-input" id="save-info">#}
{#                    <label class="custom-control-label" for="save-info">Save this information for next time</label>#}
{#                </div>#}
{#                <hr class="mb-4">#}
{##}
{#                <h4 class="mb-3">Payment</h4>#}
{##}
{#                <div class="d-block my-3">#}
{#                    <div class="custom-control custom-radio">#}
{#                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked#}
{#                               required>#}
{#                        <label class="custom-control-label" for="credit">Credit card</label>#}
{#                    </div>#}
{#                    <div class="custom-control custom-radio">#}
{#                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>#}
{#                        <label class="custom-control-label" for="debit">Debit card</label>#}
{#                    </div>#}
{#                    <div class="custom-control custom-radio">#}
{#                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>#}
{#                        <label class="custom-control-label" for="paypal">PayPal</label>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-md-6 mb-3">#}
{#                        <label for="cc-name">Name on card</label>#}
{#                        <input type="text" class="form-control" id="cc-name" placeholder="" required>#}
{#                        <small class="text-muted">Full name as displayed on card</small>#}
{#                        <div class="invalid-feedback">#}
{#                            Name on card is required#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 mb-3">#}
{#                        <label for="cc-number">Credit card number</label>#}
{#                        <input type="text" class="form-control" id="cc-number" placeholder="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Credit card number is required#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-md-3 mb-3">#}
{#                        <label for="cc-expiration">Expiration</label>#}
{#                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Expiration date required#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-3 mb-3">#}
{#                        <label for="cc-cvv">CVV</label>#}
{#                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>#}
{#                        <div class="invalid-feedback">#}
{#                            Security code required#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <hr class="mb-4">#}
{#                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}


<script src="/static/js/scroll.js"></script>