<style>.hidden { display: none; }</style>

<!--[if gt IE 9]><!-->
<html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style1.css"/>


</head>
<body>

<!-- Главная -->



    {% for p_client in all_clients %}
            <form action="/clientForm/{{ p_client.id }}" method="POST" style="display:inline;" id="clientForm">
                    {% csrf_token %}
                <input type="hidden" name="page" value="clients">
                <td>
                    <input type="checkbox" class="ch" id="{{ p_client.id }}" name="cl_checked" onclick="showButton()">
                </td>
                <td>
                    <a href="/clientInfo/{{ p_client.id }}">
                        {{ p_client.first_name }} {{ p_client.part_name }} {{ p_client.last_name }}
                    </a>
                </td>


            </form>

            </tr>
            </tr>

    {% endfor %}
                        <form action="/clientForm/{{ p_client.id }}" method="POST"  id="clientForm">
                    <button class="btn" name="sbm" id="delete" value="Delete"><img src="/static/img/x-button.png"/>
                    </button>


              </form>
</table>





<script src="/static/js/clients.js"></script>

</body></html>