{% load staticfiles %}


	  <form action="/addClient/" method="POST">{% csrf_token %}
          <button class="btn" name="sbm" value="Add Client">
              <img src="/static/img/bw.png" width="90"  height="90" alt="Добавить клиента">
          </button>


      </form>





   <!--  <tr>
        <th>
   <span>
        {% if p_table == 'templates' %}
            <form action="/clients/" method="POST">{% csrf_token %}
{#	    <input type="submit" name="sbm" value="All Clients"/>#}
                 <button class="btn" name="sbm" value="All Clients"><img
                         src="{% static 'img/bible.png' %}"/><p>All Clients</p></button>
{#      bible.png#}
            </form>
        {% endif %}
        {% if p_table == 'clients' %}
            <form action="/templates/" method="POST">{% csrf_token %}
{#	    <input type="submit" name="sbm" value="All Templates"/>#}
      <button class="btn" name="sbm" value="All Templates"><img
                         src="{% static 'img/bible.png' %}"/><p>All Templates</p></button>
            </form>
        {% endif %}
	</span>
        </th>
    </tr> -->




