<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/simple.css">
    <link rel="stylesheet" href="/static/css/checkbox.css">
    <script src="/static/js/clients.js"></script>

</head>
<body>

<div id="head">
    <div align="right"><a class="exit" href="/auth/logout">Выйти ({{ username }})</a></div>



    <table class="mytable" align="center">
        <td>

            <form action="/addClient/" method="POST">{% csrf_token %}
                <button class="btn" name="sbm" value="Add Client">Добавить
                </button>
            </form>

        </td>
        <td>
            <button class="btn" onclick="generateReport()">Сформировать</button>
        </td>
        <td>
            <button class="btn" name="sbm" value="Delete" onclick="deleteChecked()">Удалить</button>
        </td>


        </tr>
    </table>
</div>

<div class="py-5 text-center">
    <div id="content"></div>
    <div id="content"></div>
    <form action="/clientForm/" method="POST" style="display:inline;">
        <table class="mytable">
            <tr>
                <td class="table"><input type="button" class="btn" value="Выделить всех"
                                         onclick="checkUncheck('cl_checked');"></td>
                <td class="table"><input type="button" class="btn" value="Выделить все"
                                         onclick="checkUncheck('doc_checked');"></td>
            </tr>
            <tr>

                <td>

                    <input class=form-control id=searchs-text onkeyup=tableSearch() placeholder="Поиск по клиентам"
                           type=text>
                    <div id="scrolltable">
                        <table class="mytable" id=info-table>
                            <tr>
                                <td class="mytd">
                                    <ul>
                                        {% csrf_token %}
                                        {% for p_client in all_clients %}
{#                                            {% if request.user == p_client.author %}#}
                                            <li>
                                                <input type="checkbox" name="cl_checked" id="1"
                                                       value="{{ p_client.id }}">
                                                <a href="/edit_client_page/{{ p_client.id }}">
                                                    {{ p_client.first_name }} {{ p_client.part_name }} {{ p_client.last_name }} - {{ p_client.author }}
                                                </a>
                                            </li>
{#                                            {% else %}#}

{#                                            {% endif %}#}

                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>

                    <input class=form-control id=search-text onkeyup=tableSearch() placeholder="Поиск по анкетам"
                           type=text>
                    <div id="scrolltable">

                        <table id="info-table" class="mytable">
                            <tr>

                                <td class="mytd">
                                    <ul>
                                        {% for doc in all_docs %}
                                            {% load staticfiles %}
                                            <li>

                                                <input type="checkbox" name="doc_checked" id="1" value="{{ doc.id }}">
                                                <a href="{% static doc.get_path %}">{{ doc.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>

                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</body>



</html>