{% extends '/templates/welcome.html' %}  # наследуем шаблон от главного шаблона

{% block login_auth %}
<div class='login'>
<form action='/auth/login/' method='POST'>
{% csrf_token %}
<label for='username'>User name</label>
<input type='text' name='username' id='username'>
<label for='password'>Password</label>
<input type='password' name='password' id='password'>
{% if login_error %} # если вышла ошибка или такой пользователь не существует
<label class='error'>{{ login_error }}</label>
{% endif %}
<input type='submit' value='Log in'>
</form>
</div>
{% endblock login_auth %}