<table id="keywords" cellspacing="0" cellpadding="0">

    <thead>
    <tr>
        <th><span> Template Name </span></th>
        <th><span> File Name </span></th>
        <th><span> File Type </span></th>
    </tr>
    </thead>
    {% for doc in all_docs %}
        <form action="/clientForm/{{ doc.id }}" method="POST" style="display:inline;">
        <input type="hidden" name="page" value="templates">
            <tr>
                <td>
                    {% csrf_token %}{{ doc.name }}
                </td>
                <td>
                    {{ doc.file_name }}
                    <input type="submit" name="sbm" value="Delete">
                </td>
                <td>
                    {{ doc.file_type }}
                </td>
            </tr>
        </form>
    {% endfor %}

</table>