table, th, td
{
    margin: auto;
    width: 600px;
    height: 100px;


}

ul
{
    list-style-type: none;
}
li
{
        list-style-type: none;
}

#scrolltable { margin-top: 0px; height: 200px; overflow: auto; }
#scrolltable th div { position: absolute; margin-top: -20px; }

::-webkit-scrollbar-button {

background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 2px;
}

html, body {
    scrollbar-color: #6dc0c8 #ffffff;     /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;  /* толщина */
}
header {
    height: 105px;
    /*position: fixed;*/

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navigation */

nav {
    /*height: 100%;*/
    width: 5%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 100; /* Stay on top */
    top: 0px; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-size: 14px;
    background: #1ABC9C;
}

nav ul {
    padding: 20px;
    top: 50%;
    /*position: relative;*/
    list-style: none;
    text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #34495E;
}
a.active {
  color:#0000FF
}

/* Headings */

h1 {
  font-size: 5rem;
  color: #34495E;
}

section {
  width: 100%;
  padding: 50px;
  background: #fff;
  text-align: center;
}

.sections section:first-child {
    margin-top: 0px;
}
section.active {}

footer {
  height: 200px;
  background: #34495e;
}
.amazing{
    height:100px;
    position: fixed;
}